<mb-body>
    <mb-wrapper>
        <mb-section borderRadius="12">
            <mb-row>
                <mb-column>
                    <h1>Heading 1</h1>
                    <h2>Heading 2</h2>
                    <h3>Heading 3</h3>
                    <h4>Heading 4</h4>
                    <p>Paragraph</p>
                    <ul>
                        <li>Unordered list item</li>
                        <li>Unordered list item</li>
                        <li>Unordered list item</li>
                    </ul>
                    <ol>
                        <li>Ordered list item</li>
                        <li>Ordered list item</li>
                        <li>Ordered list item</li>
                    </ol>

                    <mb-button href="#" text="Click here"></mb-button>

                    <mb-spacer></mb-spacer>

                    <mb-divider></mb-divider>

                </mb-column>
            </mb-row>
            <mb-row>
                <mb-column width="250">
                    <p>Column 1</p>
                </mb-column>
                <mb-column width="40" height="20">a</mb-column>
                <mb-column width="250">
                    <p>Column 2</p>
                </mb-column>
            </mb-row>
            <mb-row fullWidth="true">
                <mb-column width="300">
                    <p>Column 1</p>
                </mb-column>
                <mb-column width="40" height="20">a</mb-column>
                <mb-column width="300">
                    <p>Column 2</p>
                </mb-column>
            </mb-row>
        </mb-section>
    </mb-wrapper>

    <table class="container" align="center">
        <tr>
            <td height="40" style="line-height: 40px"></td>
        </tr>
        <tr>
            <td>

                <table bgcolor="#ffffff" width="100%" style="border-radius: 16px;border-collapse: separate!important;overflow: hidden;">
                    <tr>
                        <td>
                            <table width="100%" align="center">
                                <tr>
                                    <td height="40" style="line-height: 40px;"></td>
                                </tr>
                                <tr>
                                    <td class="row" style="padding: 0 50px;">
                                        <h1>Heading 1</h1>
                                        <h2>Heading 2</h2>
                                        <h3>Heading 3</h3>
                                        <h4>Heading 4</h4>
                                        <p>Paragraph</p>
                                        <ul>
                                            <li>Unordered list item</li>
                                            <li>Unordered list item</li>
                                            <li>Unordered list item</li>
                                        </ul>
                                        <ol>
                                            <li>Ordered list item</li>
                                            <li>Ordered list item</li>
                                            <li>Ordered list item</li>
                                        </ol>
                                    </td>
                                </tr>
                                <tr>
                                    <td height="20" style="line-height: 20px;"></td>
                                </tr>
                                <tr>
                                    <td height="20" style="line-height: 20px; border-top: 1px solid #e7e7e7;"></td>
                                </tr>
                                <tr>
                                    <td class="row" align="center" style="padding: 0 50px;">
                                        <table width="100%" align="center">
                                            <tr>
                                                <td height="20" style="line-height: 20px; border-top: 1px solid #e7e7e7;"></td>
                                            </tr>
                                        </table>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="row" align="center" style="padding: 0 50px;">
                                        <mb-button size="md" text="Submit" />
                                    </td>
                                </tr>
                                <tr>
                                    <td height="20" style="line-height: 20px;"></td>
                                </tr>
                                <tr>
                                    <td class="row" align="center" style="padding: 0 50px;">
                                        <include src="components/button-3d.html"></include>
                                    </td>
                                </tr>
                                <tr>
                                    <td height="20" style="line-height: 20px;"></td>
                                </tr>
                                <tr>
                                    <td class="row" align="center" style="padding: 0 50px;">
                                        <include src="components/button-border.html"></include>
                                    </td>
                                </tr>
                                <tr>
                                    <td height="20" style="line-height: 20px;"></td>
                                </tr>
                                <tr>
                                    <td class="row" align="center" style="padding: 0 50px;">
                                        <table width="100%" align="center" border="0" cellpadding="0" cellspacing="0">
                                            <tr>
                                                <td class="col" width="250"><p>Column 1</p></td>
                                                <td class="col" width="40" height="20" style="line-height: 20px;"></td>
                                                <td class="col mobile-right" width="250"><p>Column 2</p></td>
                                            </tr>
                                        </table>
                                    </td>
                                </tr>
                                <tr>
                                    <td height="20" style="line-height: 20px;"></td>
                                </tr>
                                <tr>
                                    <td class="row" align="center" style="padding: 0 50px;">
                                        <table width="100%" align="center">
                                            <tr>
                                                <td class="col" width="160"><p>Column 1</p></td>
                                                <td class="col" width="30" height="20" style="line-height: 20px;"></td>
                                                <td class="col mobile-center" width="160"><p>Column 2</p></td>
                                                <td class="col" width="30" height="20" style="line-height: 20px;"></td>
                                                <td class="col mobile-right" width="160"><p>Column 3</p></td>
                                            </tr>
                                        </table>
                                    </td>
                                </tr>
                                <tr>
                                    <td height="20" style="line-height: 20px;"></td>
                                </tr>
                                <tr>
                                    <td class="row" align="center" style="padding: 0 50px;">
                                        <table width="100%" align="center">
                                            <tr>
                                                <td class="col" width="120"><p>Column 1</p></td>
                                                <td class="col" width="20" height="20" style="line-height: 20px;"></td>
                                                <td class="col mobile-center" width="120"><p>Column 2</p></td>
                                                <td class="col" width="20" height="20" style="line-height: 20px;"></td>
                                                <td class="col mobile-center" width="120"><p>Column 3</p></td>
                                                <td class="col" width="20" height="20" style="line-height: 20px;"></td>
                                                <td class="col mobile-right" width="120"><p>Column 4</p></td>
                                            </tr>
                                        </table>
                                    </td>
                                </tr>
                                <tr>
                                    <td height="20" style="line-height: 20px;"></td>
                                </tr>
                                <tr>
                                    <td class="row" style="padding: 0 50px;">
                                        <table width="100%">
                                            <tr>
                                                <td width="40" align="left" valign="top">
                                                    <img src="https://placehold.co/120x120" width="40" style="border-radius: 8px;" />
                                                </td>
                                                <td width="20"></td>
                                                <td width="480" align="left" valign="middle">
                                                    <h4>List item</h4>
                                                </td>
                                            </tr>
                                        </table>
                                    </td>
                                </tr>
                                <tr>
                                    <td height="20" style="line-height: 20px;"></td>
                                </tr>
                                <tr>
                                    <td class="row" style="padding: 0 50px;">
                                        <img src="https://placehold.co/800x400" width="540" class="mobile-w-full" style="border-radius: 8px;" />
                                    </td>
                                </tr>
                                <tr>
                                    <td height="20" style="line-height: 20px;"></td>
                                </tr>
                                <tr>
                                    <td>
                                        <img src="https://placehold.co/800x400" width="640" class="mobile-w-full" />
                                    </td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                </table>
            </td>
        <tr>
            <td height="20" style="line-height: 20px"></td>
        </tr>
        <tr>
            <td>
                <table width="100%" align="center">
                    <tr>
                        <td class="col" width="260">
                            <table bgcolor="#14848d" width="100%" style=" border-radius: 16px; border-collapse: separate!important; overflow: hidden;">
                                <tr>
                                    <td class="row" style="padding: 40px 50px;">
                                        <p style="color:#ffffff; margin-bottom: 0;"><strong>Column 1</strong></p>
                                    </td>
                                </tr>
                            </table>
                        </td>
                        <td class="col" width="20" height="20" style="line-height: 20px;"></td>
                        <td class="col mobile-right" width="260">
                            <table bgcolor="#5e5e5e" width="100%" style=" border-radius: 16px; border-collapse: separate!important; overflow: hidden;">
                                <tr>
                                    <td class="row" style="padding: 40px 50px;">
                                        <p style="color:#ffffff; margin-bottom: 0;"><strong>Column 2</strong></p>
                                    </td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
        <tr>
            <td height="20" style="line-height: 20px"></td>
        </tr>
        <td>
            <table bgcolor="#5e5e5e" width="100%" style=" border-radius: 16px; border-collapse: separate!important; overflow: hidden;">
                <tr>
                    <td class="row" style="padding: 40px 50px;">
                        <p style="color:#ffffff;"><strong>Company</strong></p>
                        <p style="color:#ffffff;">You received this email because you signed up on our website or made a purchase from us.</p>
                        <p>
                            <a href="#" style="color:#ffffff; text-decoration: underline;">Unsubscribe</a>
                            <span style="padding: 0 5px; mso-padding-left-alt:5px; mso-padding-right-alt:5px; text-decoration: none; color: #515856;" class="">|</span>
                            <a href="#" style="color:#ffffff; text-decoration: underline;">Update preferences</a>
                        </p>
                    </td>
                </tr>
            </table>
        </td>
        </tr>
        <tr>
            <td height="40" style="line-height: 40px"></td>
        </tr>
    </table>
</mb-body>